<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

  <system.serviceModel>
    <services>
      <service name="Vfs.FileSystemService.FileSystemProxy"
               behaviorConfiguration="fsProxyBehavior">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6744/FileSystem.svc" />
          </baseAddresses>
        </host>


        <endpoint address="fsactions"
                  binding="basicHttpBinding"
                  contract="Vfs.FileSystemService.IFSOperationService" />

        <endpoint address="fsreader"
                  binding="basicHttpBinding"
                  contract="Vfs.FileSystemService.IFSReaderService"
                  bindingConfiguration="stmResponse" />

        <endpoint address="fswriter"
                  binding="basicHttpBinding"
                  contract="Vfs.FileSystemService.IFSWriterService"
                  bindingConfiguration="stmRequest" />

        <endpoint address="webdownload"
                  binding="webHttpBinding"
                  behaviorConfiguration="RESTBehavior"
                  contract="Vfs.FileSystemService.IFSReaderService"
                  bindingConfiguration="stmResponseWeb" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="stmResponse"
                 transferMode="StreamedResponse" />

        <!-- configure the max size of files that can be uploaded -->
        <binding name="stmRequest"
                 transferMode="StreamedRequest"
                 maxReceivedMessageSize="40000000000" />
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="stmResponseWeb"
                 transferMode="StreamedResponse" />
        <binding name="stmRequestWeb"
                 transferMode="StreamedRequest"
                 maxReceivedMessageSize="40000000000" />
      </webHttpBinding>
    </bindings>


    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="fsProxyBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>

          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>


  </system.serviceModel>
</configuration>
