<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="testcomponents"
             type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <testcomponents>
    <components>

      <!-- register components used by your test context -->
      <!-- ... -->


      <!-- register test suite context implementation - check the AutoFac documentation if you
           need to declare custom parameters etc. -->

      <!--<component
              type="Vfs.Restful.Test.RestfulFacadeTestSuiteContext, Vfs.Restful.Test"
              service="Vfs.Test.TestContext, Vfs.Test" >
            </component>-->

      <component
        type="Vfs.Zip.Test.ZipTestSuiteContext, Vfs.Zip.Test"
        service="Vfs.Test.TestContext, Vfs.Test" >
      </component>

            <!--<component
              type="Vfs.LocalFileSystem.Test.LocalFileSystemTestSuiteContext, Vfs.LocalFileSystem.Test"
              service="Vfs.Test.TestContext, Vfs.Test" >
            </component>-->

    </components>
  </testcomponents>

</configuration>