<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vfs.Restful.VfsUris" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Vfs.Restful.VfsHttpHeaders" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Vfs.Restful.HttpHeaders" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Vfs.Restful.Uris" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Vfs.Restful.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Vfs.Restful.VfsUris>
            <setting name="GetFileSystemRootUri" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="GetFileInfoUri" serializeAs="String">
                <value>files?path={filepath}</value>
            </setting>
            <setting name="GetFolderInfoUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="GetChildFilesUri" serializeAs="String">
                <value>folders/files?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetChildFoldersUri" serializeAs="String">
                <value>folders/subfolders?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetFolderContentsUri" serializeAs="String">
                <value>folders/contents?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetChildFoldersFilteredUri" serializeAs="String">
                <value>folders/subfolders?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetFolderContentsFilteredUri" serializeAs="String">
                <value>folders/contents?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetChildFilesFilteredUri" serializeAs="String">
                <value>folders/files?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetFileParentUri" serializeAs="String">
                <value>files/parent?path={filepath}</value>
            </setting>
            <setting name="GetFolderParentUri" serializeAs="String">
                <value>folders/parent?path={folderpath}</value>
            </setting>
            <setting name="IsFileAvailableUri" serializeAs="String">
                <value>files/availability?path={filepath}</value>
            </setting>
            <setting name="IsFolderAvailableUri" serializeAs="String">
                <value>folders/availability?path={folderpath}</value>
            </setting>
            <setting name="DeleteFileUri" serializeAs="String">
                <value>files?path={filepath}</value>
            </setting>
            <setting name="DeleteFolderUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="CreateFolderUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="CopyFileUri" serializeAs="String">
                <value>files/copy?source={filepath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="MoveFileUri" serializeAs="String">
                <value>files/move?source={filepath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="CopyFolderUri" serializeAs="String">
                <value>folders/copy?source={folderpath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="MoveFolderUri" serializeAs="String">
                <value>folders/move?source={folderpath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="CreateFilePathUri" serializeAs="String">
                <value>files/combinedpath?parentfolder={parentfolderpath}&amp;filename={filename}</value>
            </setting>
            <setting name="CreateFolderPathUri" serializeAs="String">
                <value>folders/combinedpath?parentfolder={parentfolderpath}&amp;foldername={foldername}</value>
            </setting>
            <setting name="GetMaxDownloadBlockSizeUri" serializeAs="String">
                <value>downloads/maxblocksize</value>
            </setting>
            <setting name="GetMaxUploadBlockSizeUri" serializeAs="String">
                <value>uploads/maxblocksize</value>
            </setting>
            <setting name="GetDownloadTransferStatusUri" serializeAs="String">
                <value>downloads/{transferid}/status</value>
            </setting>
            <setting name="GetUploadTransferStatusUri" serializeAs="String">
                <value>uploads/{transferid}/status
</value>
            </setting>
            <setting name="PatternFilter" serializeAs="String">
                <value>{filter}</value>
            </setting>
            <setting name="PatternFilePath" serializeAs="String">
                <value>{filepath}</value>
            </setting>
            <setting name="PatternFolderPath" serializeAs="String">
                <value>{folderpath}</value>
            </setting>
            <setting name="PatternDestinationPath" serializeAs="String">
                <value>{destinationpath}</value>
            </setting>
            <setting name="PatternFileName" serializeAs="String">
                <value>{filename}</value>
            </setting>
            <setting name="PatternParentFolderPath" serializeAs="String">
                <value>{parentfolderpath}</value>
            </setting>
            <setting name="PatternFolderName" serializeAs="String">
                <value>{foldername}</value>
            </setting>
            <setting name="PatternTransferId" serializeAs="String">
                <value>{transferid}</value>
            </setting>
            <setting name="PatternBlockNumber" serializeAs="String">
                <value>{blocknumber}</value>
            </setting>
            <setting name="PatternAbortReason" serializeAs="String">
                <value>{reason}</value>
            </setting>
            <setting name="PatternIncludeFileHash" serializeAs="String">
                <value>{includefilehash}</value>
            </setting>
            <setting name="PatternMaxBlockSize" serializeAs="String">
                <value>{maxblocksize}</value>
            </setting>
            <setting name="ReadFileContentsUri" serializeAs="String">
                <value>files/read?path={filepath}</value>
            </setting>
            <setting name="GetDownloadTokenUri" serializeAs="String">
                <value>files/downloadtoken?file={filepath}&amp;includefilehash={includefilehash}</value>
            </setting>
            <setting name="GetDownloadTokenWithMaxBlockSizeUri" serializeAs="String">
                <value>files/downloadtoken?file={filepath}&amp;includefilehash={includefilehash}&amp;maxblocksize={maxblocksize}</value>
            </setting>
            <setting name="ReloadDownloadTokenUri" serializeAs="String">
                <value>downloads/{transferid}/token</value>
            </setting>
            <setting name="GetDataBlockStreamedUri" serializeAs="String">
                <value>downloads/{transferid}/datablock/{blocknumber}</value>
            </setting>
            <setting name="ReadFileContentsByTokenUri" serializeAs="String">
                <value>downloads/{transferid}/data</value>
            </setting>
            <setting name="CompleteDownloadTransferUri" serializeAs="String">
                <value>downloads/{transferid}/complete</value>
            </setting>
            <setting name="CompleteUploadTransferUri" serializeAs="String">
                <value>uploads/{transferid}/complete</value>
            </setting>
            <setting name="PauseDownloadTransferUri" serializeAs="String">
                <value>downloads/{transferid}/pause</value>
            </setting>
            <setting name="PauseUploadTransferUri" serializeAs="String">
                <value>uploads/{transferid}/pause</value>
            </setting>
            <setting name="CancelDownloadTransferUri" serializeAs="String">
                <value>downloads/{transferid}/cancel?abortreason={reason}</value>
            </setting>
            <setting name="CancelUploadTransferUri" serializeAs="String">
                <value>uploads/{transferid}/cancel?abortreason={reason}</value>
            </setting>
            <setting name="GetDownloadTransmissionCapabilitiesUri" serializeAs="String">
                <value>downloads/transmissioncapabilities</value>
            </setting>
            <setting name="GetUploadTransmissionCapabilitiesUri" serializeAs="String">
                <value>uploads/transmissioncapabilities</value>
            </setting>
            <setting name="ReloadUploadTokenUri" serializeAs="String">
                <value>uploads/{transferid}/token</value>
            </setting>
            <setting name="GetMaxFileUploadSizeUri" serializeAs="String">
                <value>uploads/maxfilesize</value>
            </setting>
            <setting name="WriteStreamedDataBlockUri" serializeAs="String">
                <value>uploads/{transferid}/datablock/{blocknumber}</value>
            </setting>
            <setting name="CompleteUploadTransferWithVerificationUri" serializeAs="String">
                <value>uploads/{transferid}/complete?hash={filehash}</value>
            </setting>
            <setting name="PatternFileHash" serializeAs="String">
                <value>{filehash}</value>
            </setting>
            <setting name="WriteFileContentsUri" serializeAs="String">
                <value>files/write?path={filepath}</value>
            </setting>
            <setting name="GetUploadTokenUri" serializeAs="String">
                <value>files/uploadtoken?file={filepath}&amp;overwrite={overwrite}&amp;length={filelength}&amp;contenttype={contenttype}</value>
            </setting>
            <setting name="PatternOverwrite" serializeAs="String">
                <value>{overwrite}</value>
            </setting>
            <setting name="PatternFileLength" serializeAs="String">
                <value>{filelength}</value>
            </setting>
            <setting name="PatternContentType" serializeAs="String">
                <value>{contenttype}</value>
            </setting>
        </Vfs.Restful.VfsUris>
        <Vfs.Restful.VfsHttpHeaders>
            <setting name="BlockLength" serializeAs="String">
                <value>vfs-block-length</value>
            </setting>
            <setting name="BlockNumber" serializeAs="String">
                <value>vfs-block-number</value>
            </setting>
            <setting name="IsLastBlock" serializeAs="String">
                <value>vfs-block-islast</value>
            </setting>
            <setting name="BlockOffset" serializeAs="String">
                <value>vfs-block-offset</value>
            </setting>
            <setting name="TransferId" serializeAs="String">
                <value>vfs-transfer-id</value>
            </setting>
            <setting name="OverwriteExistingResource" serializeAs="String">
                <value>vfs-overwrite</value>
            </setting>
        </Vfs.Restful.VfsHttpHeaders>
        <Vfs.Restful.HttpHeaders>
            <setting name="BlockLength" serializeAs="String">
                <value>vfs-block-length</value>
            </setting>
            <setting name="BlockNumber" serializeAs="String">
                <value>vfs-block-number</value>
            </setting>
            <setting name="IsLastBlock" serializeAs="String">
                <value>vfs-block-islast</value>
            </setting>
            <setting name="BlockOffset" serializeAs="String">
                <value>vfs-block-offset</value>
            </setting>
            <setting name="IsVfsFault" serializeAs="String">
                <value>vfs-fault</value>
            </setting>
        </Vfs.Restful.HttpHeaders>
        <Vfs.Restful.Uris>
            <setting name="GetFileSystemRootUri" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="GetFileInfoUri" serializeAs="String">
                <value>files?path={filepath}</value>
            </setting>
            <setting name="GetFolderInfoUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="GetChildFilesUri" serializeAs="String">
                <value>folders/files?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetChildFoldersUri" serializeAs="String">
                <value>folders/subfolders?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetFolderContentsUri" serializeAs="String">
                <value>folders/contents?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetChildFoldersFilteredUri" serializeAs="String">
                <value>folders/subfolders?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetFolderContentsFilteredUri" serializeAs="String">
                <value>folders/contents?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetChildFilesFilteredUri" serializeAs="String">
                <value>folders/files?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetFileParentUri" serializeAs="String">
                <value>files/parent?path={filepath}</value>
            </setting>
            <setting name="GetFolderParentUri" serializeAs="String">
                <value>folders/parent?path={folderpath}</value>
            </setting>
            <setting name="IsFileAvailableUri" serializeAs="String">
                <value>files/availability?path={filepath}</value>
            </setting>
            <setting name="IsFolderAvailableUri" serializeAs="String">
                <value>folders/availability?path={folderpath}</value>
            </setting>
            <setting name="DeleteFileUri" serializeAs="String">
                <value>files?path={filepath}</value>
            </setting>
            <setting name="DeleteFolderUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="CreateFolderUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="CopyFileUri" serializeAs="String">
                <value>files/copy?source={filepath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="MoveFileUri" serializeAs="String">
                <value>files/move?source={filepath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="CopyFolderUri" serializeAs="String">
                <value>folders/copy?source={folderpath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="MoveFolderUri" serializeAs="String">
                <value>folders/move?source={folderpath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="CreateFilePathUri" serializeAs="String">
                <value>files/combinedpath?parentfolder={parentfolderpath}&amp;filename={filename}</value>
            </setting>
            <setting name="CreateFolderPathUri" serializeAs="String">
                <value>folders/combinedpath?parentfolder={parentfolderpath}&amp;foldername={foldername}</value>
            </setting>
        </Vfs.Restful.Uris>
        <Vfs.Restful.Properties.Settings>
            <setting name="GetFileSystemRootUri" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="GetFileInfoUri" serializeAs="String">
                <value>files?path={filepath}</value>
            </setting>
            <setting name="GetFolderInfoUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="GetChildFilesUri" serializeAs="String">
                <value>folders/files?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetChildFoldersUri" serializeAs="String">
                <value>folders/subfolders?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetFolderContentsUri" serializeAs="String">
                <value>folders/contents?parentfolder={parentfolderpath}</value>
            </setting>
            <setting name="GetChildFoldersFilteredUri" serializeAs="String">
                <value>folders/subfolders?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetFolderContentsFilteredUri" serializeAs="String">
                <value>folders/contents?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetChildFilesFilteredUri" serializeAs="String">
                <value>folders/files?parentfolder={parentfolderpath}&amp;filter={filter}</value>
            </setting>
            <setting name="GetFileParentUri" serializeAs="String">
                <value>files/parent?path={filepath}</value>
            </setting>
            <setting name="GetFolderParentUri" serializeAs="String">
                <value>folders/parent?path={folderpath}</value>
            </setting>
            <setting name="IsFileAvailableUri" serializeAs="String">
                <value>files/availability?path={filepath}</value>
            </setting>
            <setting name="IsFolderAvailableUri" serializeAs="String">
                <value>folders/availability?path={folderpath}</value>
            </setting>
            <setting name="DeleteFileUri" serializeAs="String">
                <value>files?path={filepath}</value>
            </setting>
            <setting name="DeleteFolderUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="CreateFolderUri" serializeAs="String">
                <value>folders?path={folderpath}</value>
            </setting>
            <setting name="CopyFileUri" serializeAs="String">
                <value>files/copy?source={filepath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="MoveFileUri" serializeAs="String">
                <value>files/move?source={filepath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="CopyFolderUri" serializeAs="String">
                <value>folders/copy?source={folderpath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="MoveFolderUri" serializeAs="String">
                <value>folders/move?source={folderpath}&amp;destination={destinationpath}</value>
            </setting>
            <setting name="CreateFilePathUri" serializeAs="String">
                <value>files/combinedpath?parentfolder={parentfolderpath}&amp;filename={filename}</value>
            </setting>
            <setting name="CreateFolderPathUri" serializeAs="String">
                <value>folders/combinedpath?parentfolder={parentfolderpath}&amp;foldername={foldername}</value>
            </setting>
        </Vfs.Restful.Properties.Settings>
    </applicationSettings>
</configuration>